{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosmetology</title>
    <link rel="shortcut icon" href="{% static 'images/circle-xxs.svg' %}" class="ico">
</head>
<body>

  <header class="header">
    <div class="header-content">
      <div class="container">
        <img src="https://netology-code.github.io/html-2-diploma/sources/images/noemi-logo.svg" alt="" class="logo">
        <div class="adress-schedule">
          <div class="adress">Москва, ул. Белинского, д. 28, офис 14</div>
          <div class="schedule">Пн - Сб — 9:00 - 20:00, Вс — вых</div>
        </div>
        <div class="phone">8(950)999-99-99</div>

      </div>

      <nav class="header-menu">
        <ul class="menu">
          <li><a href="{% url 'home' %}" class="menu-item">главная</a></li>
          <li><a href="{% url 'cat_list' %}" class="menu-item">Услуги</a></li>
          <li><a href="{% url 'home' %}#doctors" class="menu-item">Врачи</a></li>
          <li><a href="{% url 'application' %}" class="menu-item">Записаться на процедуру</a></li>
          <li><a href="{% url 'question' %}" class="menu-item">Вопросы и отзывы</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'home' %}" class="menu-item">{{ user.username }}</a><a href="{% url 'logout' %}" class="menu-item">выход</a></li>
          {% else %}
          <li><a href="{% url 'register' %}" class="menu-item">Регистрация</a><a href="{% url 'login' %}" class="menu-item">войти</a></li>
          {% endif %}
        </ul>
      </nav>
      </div>
    </div>
  </header>


  {% block content %}{% endblock %}

  {% block footer %}
    <footer class="footer-block">
      <ul class="footer-items">
        <li class="footer-item">
          <a href="https://instagram.com/smirnyagga?igshid=NTc4MTIwNjQ2YQ=="  class="footer-icon footer-icon-inst">
            <span class="visually-hidden">instagram</span>
          </a>
        </li>
        <li class="footer-item">
          <a href="https://wa.me/79503777068"  class="footer-icon footer-icon-wa">
            <span class="visually-hidden">watsapp</span>
          </a>
        </li>
        <li class="footer-item">
          <a href="https://t.me/bdjejbd9"  class="footer-icon footer-icon-tg">
            <span class="visually-hidden">telegram</span>
          </a>
        </li>
      </ul>
    </footer>

  {% endblock footer %}
</body>
</html>
