{% extends "procedures/base.html" %}

{% load static %}

{% block content %}
<form method="POST" class="call-form">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}

    <p class="form-row"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
        <p>{{ f }}</p>
    </p>
    <div class="form-error">{{ f.errors }}</div>

    {% endfor %}

    <button type="submit" class="submit_button">Регистрация</button>
</form>
{% endblock %}